<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmarble.springstudy.mapper.UserMapper">
    <resultMap id="userResultMap" type="User">
        <id property="seq" column="USER_SEQ" />
        <result property="id" column="USER_ID"/>
        <result property="pass" column="USER_PASS"/>
        <result property="name" column="USER_NAME"/>
    </resultMap>
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyColumn="USER_SEQ" keyProperty="seq">
        INSERT INTO USER (USER_ID,USER_PASS,USER_NAME) VALUES (#{id},#{pass},#{name})
    </insert>
    <select id="getUser" resultMap="userResultMap" parameterType="int">
    	SELECT * FROM USER WHERE USER_SEQ=#{value}
    </select>
    <select id="getUserById" resultMap="userResultMap" parameterType="java.lang.String">
        SELECT * FROM USER WHERE USER_ID=#{value}
    </select>
    <delete id="deleteUser" parameterType="User">
    	DELETE FROM USER WHERE USER_SEQ=#{seq} LIMIT 1
    </delete>
</mapper>