body, #mainWrapper {
	height: 70%;
	background-color: rgb(245, 245, 245);
}

body, .form-control {
	font-size: 12px !important;
}

.floatRight {
	float: right;
	margin-right: 18px;
}

.has-error {
	color: red;
}

.formcontainer {
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer {
	padding-left: 20px;
}

.generic-container {
	width: 80%;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #EAE7E7;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
}

.custom-width {
	width: 80px !important;
}

.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}

.email.ng-dirty.ng-invalid-email {
	background-color: yellow;
}

body {
	font-family: "Lato", sans-serif;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #222;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-decoration: none;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus, a:hover {
	color: #f1f1f1;
	text-decoration: none;
}

.sidenav a.link.active {
	text-decoration: none;
	color: blue;
}

.closebtn {

	position: absolute;
	top: 0;
	right: 28px;
	font-size: 36px !important;
	margin-top: 5px;
	margin-left: 11px;
	color: #BBBBBB;
}
.center {
    text-align: center;
    vertical-align: middle;
}
.middle2 {

    vertical-align: middle;
}
.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}
div.spin {
   width:50%; height:50%
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}
#all_item_hover {
  border:solid #999 0px;
  border-collapse:collapse;
}
#all_item_hover td {
  padding:2px;
}
#all_item_hover tbody:hover td {
  background:#CCC;
  cursor:pointer;
}
#all_item_hover tbody:hover th {
  background:#CCC;
  cursor:pointer;
}
#main {
	text-decoration: none;
	transition: .5s;
	padding: 0px;
}
#topmenu{
	color : #BBBBBB;	
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
